#border-container {
    border: 2px solid #237d00;
    padding: 20px;
    margin: 10px;
    
    align-items: center;
    border-radius: 5px;
    height: 150px; /* Corregido la coma por un punto y coma aquí */
    transition: box-shadow 0.1s, transform 0.1s; /* Eliminé el punto delante de .1s */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#border-container:hover {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
}


#border-service{
    border: 2px solid #237d00;
    padding: 20px;
    margin: 10px;
    width: 400px;
    align-items: center;
    border-radius: 5px;
    height: 150px; /* Corregido la coma por un punto y coma aquí */
    transition: box-shadow 0.1s, transform 0.1s; /* Eliminé el punto delante de .1s */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#border-service:hover{
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 1);

}


#border-error{
    border: 2px solid #237d00;
    padding: 20px;
    margin: 10px;
    width: 400px;
    align-items: center;
    border-radius: 5px;
    height: 150px; /* Corregido la coma por un punto y coma aquí */
    transition: box-shadow 0.1s, transform 0.1s; /* Eliminé el punto delante de .1s */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#border-error:hover{
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
}



body
{
    margin: 0;
    padding: 0;
    background: #262626;
    background-image: url('public/images/imgjeje.png');
    background-size: cover; /* Ajusta la imagen al tamaño de la ventana del navegador */
    /* Evita que la imagen se repita */
    background-attachment: fixed; /* Fija la imagen en su posición */
}

.center
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-505,-50%);
}
.ball
{
    position: center;
    width: 150px;
    height: 150px;
    background: #c9f364;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    animation: animate 1.5s linear infinite;
}
.ball:before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-sizing: border-box;
    background: transparent;
    border: 5px solid #fff;
    left: -65%;
    filter: blur(1px);
}
.ball:after
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-sizing: border-box;
    background: transparent;
    border: 5px solid #fff;
    right: -65%;
    filter: blur(1px);
}
@keyframes animate 
{
    0%
    {
        transform: translate(-50%,-50%) translateY(-200px) rotate(0deg);
    }
    50%
    {
        transform: translate(-50%,-50%) translateY(0px) rotate(180deg);
    }
    100%
    {
        transform: translate(-50%,-50%) translateY(-200px) rotate(360deg);
    }
}
.shadow
{
    position: absolute;
    width: 150px;
    height: 50px;
    transform: translate(-50%,100%);
    background: rgba(0,0,0,.2);
    border-radius: 50%;
    z-index: -1;
    filter: blur(2px);
    animation: shadow 1.5s linear infinite;
}
@keyframes shadow
{
    0%
    {
        transform:  translate(-50%,100%) scale(1);
    }
    50%
    {
        transform:  translate(-50%,100%) scale(.5);
    }
    100%
    {
        transform:  translate(-50%,100%) scale(1);
    }
}


.logo img{
    width: 150px;
    height: auto;
}



.golpesH{
    font-size: large;
}

div{
    text-align: center;
    justify-content: center;
    align-items: center;
}



.log{
    color: #fff;
    text-decoration: none;
    padding: 8px 20px;
    margin-right: 10px;
    border-radius: 5px;
}


.log{
    
    background-color: #04601f;
}

.reg{
    color: #fff;
    text-decoration: none;
    padding: 8px 20px;
    margin-right: 10px;
    border-radius: 5px;
  
}

.reg{
    background-color: #28a745;
}

.hidden{
    overflow: hidden;
}

.Loading
{
  color: #28a745;  
  position: absolute;
  font-family:verdana;
  align-items: center;
  top: 50%;
  right: 40%; 
  animation: heartbeat 1s infinite;
  transform: translate(-50%, -50%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Loading a
{
  text-decoration:none;
  color:#fff;
}
@keyframes heartbeat {
    0% {
      transform: scale(1); /* Escala normal */
    }
    50% {
      transform: scale(1.1); /* Escala un poco más grande */
    }
    100% {
      transform: scale(1); /* Vuelve a la escala normal */
    }
}

.pelotita {
    position: absolute;
    top: -30px;
    left: 50%;
    width: 20px;
    height: 20px;
    background-color: #88ff00;
    border-radius: 50%;
    animation: bounce 2s ease infinite;
}

@keyframes bounce {
    0%, 100% {
      transform: translateX(-50%) translateY(-30px);
    }
    50% {
      transform: translateX(-50%) translateY(-50px);
    }
  }



/* Estilos para las secciones */
.golpesH,
.serv,
.Errors {
  color: #00952a;
  display: inline-block;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 8px;
  transition: all 0.3s ease; /* Transición suave para los efectos */
  background-color: white;
}

/* Estilos para cuando el cursor está sobre las secciones */
.golpesH:hover,
.serv:hover,
.Errors:hover {
  border-color: #45d762; /* Cambia el color del borde al pasar el cursor */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Agrega una sombra */
  transform: scale(1.05); /* Amplía ligeramente el elemento */
  background-color: white;
}

.log,
.reg {
    display: inline-block;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: all 0.3s ease;

}



.log:hover,
.reg:hover {
    border-color: #00952a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);

}








.bordeTexto{
    border-radius: 300px;
}

   
